@media (max-width: 1600px) {
    .about-pagedescrpt-sec {
        padding: 80px 0;
    }
}
.about-pagedescrpt-sec {
    position: relative;
    overflow: hidden;
    padding: 95px 0;
}
.lightgray {
    background-color: #f2f2f2;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: block;
    unicode-bidi: isolate;
}
@media (max-width: 1600px) {
    body {
        font-size: 16px;
    }
}
body {
    color: #000;
    font-family: Barlow, arial;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    position: relative;
    overflow-x: hidden;
}
@media (max-width: 1600px) {
    .container {
        width: 86%;
    }
}
.container {
    width: 92%;
    max-width: 1510px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


div {
    display: block;
    unicode-bidi: isolate;
}
.about-pagedescrpt-sec .cntnt-grp {
    padding-bottom: 15px;
}
 
.about-pagedescrpt-sec .cntnt-grp>:first-child {
    margin-top: 0 !important;
}
@media (max-width: 1600px) {
    .about-pagedescrpt-sec .cntnt-grp>* {
        margin: 18px 0;
    }
}
.about-pagedescrpt-sec .cntnt-grp>* {
    margin: 22px 0;
}
.about-pagedescrpt-sec .h4, .about-pagedescrpt-sec h4 {
    font-weight: 600;
    letter-spacing: .6px;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .show-767 {
        display: none !important;
    }
}
@media (max-width: 1366px) {
    .h4, h4 {
        font-size: 27px;
    }
}
@media (max-width: 1600px) {
    .h4, h4 {
        font-size: 32px;
    }
}
.h4, h4 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.1;
}
@media (max-width: 1366px) {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Barlow Condensed", arial;
    margin: 15px 0;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}



.about-pagedescrpt-sec .cntnt-grp>* {
    margin: 22px 0;
}
.about-pagedescrpt-sec .h5, .about-pagedescrpt-sec h5 {
    font-weight: 500;
    padding-bottom: 5px;
}
@media (max-width: 1366px) {
    .h5, h5 {
        font-size: 25px;
    }
}
@media (max-width: 1600px) {
    .h5, h5 {
        font-size: 30px;
    }
}
.h5, h5 {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.1;
}
@media (max-width: 1366px) {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Barlow Condensed", arial;
    margin: 15px 0;
}
@media (max-width: 1366px) {
    .h2, h2 {
        font-size: 40px;
    }
}
@media (max-width: 1600px) {
    .h2, h2 {
        font-size: 45px;
    }
}
.h2, h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.about-pagedescrpt-sec .h4, .about-pagedescrpt-sec h4 {
    font-weight: 600;
    letter-spacing: .6px;
    text-transform: uppercase;
}
@media (max-width: 1366px) {
    .h4, h4 {
        font-size: 27px;
    }
}
@media (max-width: 1600px) {
    .h4, h4 {
        font-size: 32px;
    }
}
.h4, h4 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.1;
}
@media (max-width: 1366px) {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Barlow Condensed", arial;
    margin: 15px 0;
}
@media (max-width: 1366px) {
    .h3, h3 {
        font-size: 35px;
    }
}
@media (max-width: 1600px) {
    .h3, h3 {
        font-size: 40px;
    }
}
.h3, h3 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 2px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


li {
    text-align: -webkit-match-parent;
}

.showrooms-sec {
    padding: 135px 0;
    background-color: #f2f2f2;
}
@media (max-width: 1366px) and (min-width: 768px) {
    .motivated-team-sec .container, .service-center-sec .container, .showrooms-sec .container, .vision-sec .container {
        max-width: 860px;
    }
}
@media (max-width: 1600px) {
    .motivated-team-sec .container, .service-center-sec .container, .showrooms-sec .container, .vision-sec .container {
        max-width: 970px;
    }
}
.motivated-team-sec .container, .service-center-sec .container, .showrooms-sec .container, .vision-sec .container {
    width: 80%;
    max-width: 1070px;
}
@media (max-width: 1600px) {
    .container {
        width: 86%;
    }
}

@media (max-width: 1366px) and (min-width: 768px) {
    .motivated-team-sec .clmns-grp, .service-center-sec .clmns-grp, .showrooms-sec .clmns-grp, .vision-sec .clmns-grp {
        margin-left: -25px;
        margin-right: -25px;
    }
}
@media (max-width: 1600px) {
    .motivated-team-sec .clmns-grp, .service-center-sec .clmns-grp, .showrooms-sec .clmns-grp, .vision-sec .clmns-grp {
        margin-left: -30px;
        margin-right: -30px;
    }
}
.motivated-team-sec .clmns-grp, .service-center-sec .clmns-grp, .showrooms-sec .clmns-grp, .vision-sec .clmns-grp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -38px;
    margin-right: -38px;
}
.sec-row {
    margin-left: -15px;
    margin-right: -15px;
}


.clearboth:after, .clearboth:before, .sec-row:after, .sec-row:before {
    content: "";
    display: table;
}

.clearboth:after, .sec-row:after {
    clear: both;
}
.clearboth:after, .clearboth:before, .sec-row:after, .sec-row:before {
    content: "";
    display: table;
}

@media (min-width: 901px) {
    .sec-md-col-50 {
        width: 50%;
    }
}

.sec-col, [class*="sec-col"], [class*="sec-lg-col"], [class*="sec-md-col"], [class*="sec-xlg-col"], [class*="sec-xs-col"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
}

@media (min-width: 901px) {
    .sec-md-col-50 {
        width: 50%;
    }
}
.sec-col, [class*="sec-col"], [class*="sec-lg-col"], [class*="sec-md-col"], [class*="sec-xlg-col"], [class*="sec-xs-col"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
}
p {
    margin: 15px 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media (min-width: 768px) {
    .show-767 {
        display: none !important;
    }
}
@media (max-width: 1600px) {
    .showrooms-sec .cntnt-grp .btn-grp {
        padding-top: 20px;
    }
}
.showrooms-sec .cntnt-grp>:last-child {
    margin-bottom: 0 !important;
}
.showrooms-sec .cntnt-grp .btn-grp {
    padding-top: 30px;
}
@media (max-width: 1600px) {
    .service-center-sec {
        padding: 100px 0;
    }
}
.service-center-sec {
    padding: 130px 0;
}

.sec-row {
    margin-left: -15px;
    margin-right: -15px;
}

.clearboth:after, .clearboth:before, .sec-row:after, .sec-row:before {
    content: "";
    display: table;
}

.clearboth:after, .sec-row:after {
    clear: both;
}
.clearboth:after, .clearboth:before, .sec-row:after, .sec-row:before {
    content: "";
    display: table;
}

@media (max-width: 1366px) and (min-width: 768px) {
    .motivated-team-sec .clmns-grp>.cntnt-clmn, .motivated-team-sec .clmns-grp>.img-clmn, .service-center-sec .clmns-grp>.cntnt-clmn, .service-center-sec .clmns-grp>.img-clmn, .showrooms-sec .clmns-grp>.cntnt-clmn, .showrooms-sec .clmns-grp>.img-clmn, .vision-sec .clmns-grp>.cntnt-clmn, .vision-sec .clmns-grp>.img-clmn {
        margin: 15px 0;
        padding: 0 25px;
    }
}
@media (max-width: 1600px) {
    .motivated-team-sec .clmns-grp>.cntnt-clmn, .motivated-team-sec .clmns-grp>.img-clmn, .service-center-sec .clmns-grp>.cntnt-clmn, .service-center-sec .clmns-grp>.img-clmn, .showrooms-sec .clmns-grp>.cntnt-clmn, .showrooms-sec .clmns-grp>.img-clmn, .vision-sec .clmns-grp>.cntnt-clmn, .vision-sec .clmns-grp>.img-clmn {
        padding: 0 30px;
        margin-bottom: 20px;
    }
}
.motivated-team-sec .clmns-grp>.cntnt-clmn, .motivated-team-sec .clmns-grp>.img-clmn, .service-center-sec .clmns-grp>.cntnt-clmn, .service-center-sec .clmns-grp>.img-clmn, .showrooms-sec .clmns-grp>.cntnt-clmn, .showrooms-sec .clmns-grp>.img-clmn, .vision-sec .clmns-grp>.cntnt-clmn, .vision-sec .clmns-grp>.img-clmn {
    padding: 0 38px;
    margin: 0 0 25px;
}
@media (min-width: 901px) {
    .sec-md-col-50 {
        width: 50%;
    }
}
.sec-col, [class*="sec-col"], [class*="sec-lg-col"], [class*="sec-md-col"], [class*="sec-xlg-col"], [class*="sec-xs-col"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
}
element.style {
    background-image: url(https://cdn.bigboytoyz.com/new-version/assets/images/dedicated-servicecenter-img.jpg);
}
@media (max-width: 1600px) {
    .motivated-team-sec .img-grp.bgimg, .service-center-sec .img-grp.bgimg, .showrooms-sec .img-grp.bgimg, .vision-sec .img-grp.bgimg {
        padding-bottom: 75%;
    }

}
@media (max-width: 1366px) and (min-width: 768px) {
    .motivated-team-sec .clmns-grp>.cntnt-clmn, .motivated-team-sec .clmns-grp>.img-clmn, .service-center-sec .clmns-grp>.cntnt-clmn, .service-center-sec .clmns-grp>.img-clmn, .showrooms-sec .clmns-grp>.cntnt-clmn, .showrooms-sec .clmns-grp>.img-clmn, .vision-sec .clmns-grp>.cntnt-clmn, .vision-sec .clmns-grp>.img-clmn {
        margin: 15px 0;
        padding: 0 25px;
    }
}
@media (max-width: 1600px) {
    .motivated-team-sec .clmns-grp>.cntnt-clmn, .motivated-team-sec .clmns-grp>.img-clmn, .service-center-sec .clmns-grp>.cntnt-clmn, .service-center-sec .clmns-grp>.img-clmn, .showrooms-sec .clmns-grp>.cntnt-clmn, .showrooms-sec .clmns-grp>.img-clmn, .vision-sec .clmns-grp>.cntnt-clmn, .vision-sec .clmns-grp>.img-clmn {
        padding: 0 30px;
        margin-bottom: 20px;
    }
}
.motivated-team-sec .clmns-grp>.cntnt-clmn, .motivated-team-sec .clmns-grp>.img-clmn, .service-center-sec .clmns-grp>.cntnt-clmn, .service-center-sec .clmns-grp>.img-clmn, .showrooms-sec .clmns-grp>.cntnt-clmn, .showrooms-sec .clmns-grp>.img-clmn, .vision-sec .clmns-grp>.cntnt-clmn, .vision-sec .clmns-grp>.img-clmn {
    padding: 0 38px;
    margin: 0 0 25px;
}
@media (min-width: 901px) {
    .sec-md-col-50 {
        width: 50%;
    }
}
.sec-col, [class*="sec-col"], [class*="sec-lg-col"], [class*="sec-md-col"], [class*="sec-xlg-col"], [class*="sec-xs-col"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
}


.service-center-sec .cntnt-grp>:last-child {
    margin-bottom: 0 !important;
}
.service-center-sec .cntnt-grp .btn-grp {
    padding-top: 30px;
}
@media (max-width: 1600px) {
    .service-center-sec .cntnt-grp .btn {
        width: 68%;
        min-width: 68%;
    }
}
.service-center-sec .cntnt-grp .btn {
    width: 75%;
    min-width: 75%;
}

@media (max-width: 1600px) {
    .vision-sec {
        padding: 100px 0;
    }
}
.vision-sec {
    padding: 140px 0;
    background-color: #f2f2f2;
}
@media (max-width: 1600px) {
    .vision-sec .cntnt-grp {
        font-size: 105%;
    }
}
.vision-sec .cntnt-grp {
    font-size: 115%;
    text-align: center;
}
@media (max-width: 1600px) {
    .vision-sec .cntnt-grp .btn-grp {
        padding: 20px 0 0;
    }
}
.vision-sec .cntnt-grp .btn-grp {
    padding: 25px 0 10px;
}

@media (max-width: 1600px) {
    .vision-sec .cntnt-grp {
        font-size: 105%;
    }
}
.vision-sec .cntnt-grp {
    font-size: 115%;
    text-align: center;
}
.vision-sec .cntnt-grp .btn {
    width: auto;
    max-width: 300px;
    min-width: 25%;
    text-align: left;
}
